.container {
  width: 100%;

  &_wrapper {
    min-height: 80vh;
    margin: 0 auto;

    .description {
      background: url('../../images/main.jpeg') no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
      background-color: #bcbcbc;
      height: 740px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      color: #fff;

      &::after {
        content: 'RAWR | RIGHT AMBITION WEAR';
        position: absolute;
        top: 160px;
        left: 80px;
        width: 700px;
        font-size: 40px;
        font-weight: 600;
      }

      &::before {
        content: 'Белорусский производитель одежды,работающий с 2015 года. Приоритетом нашей компании является создание качественного продукта с современным и эргономичным дизайном, а также предоставление высокого уровня клиентского сервиса';
        position: absolute;
        top: 320px;
        left: 100px;
        width: 600px;
        font-size: 20px;
        font-weight: 400;
      }


      &_button {
        margin-bottom: 140px;
        background-color: transparent;
        padding: 18px 36px;
        border-radius: 16px;
        border: 1px solid silver;
        font-weight: bold;
        letter-spacing: 1.2px;
        font-size: 16px;
        color: rgb(255, 255, 255, 0.9);
        cursor: pointer;
        transition: transform 600ms ease;

        &:hover {
          transform: scale(1.1);
          border-color: coral;
        }
      }
    }
  }
}