<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('blocks/header') -%>
  <h1>Страница пользователя: <%= username.slice(0,1).toUpperCase() + username.slice(1) %></h1>
  <% if(username.toLowerCase() === 'dima') { %>
    <ul>
      <% hobbies.forEach((el) => { %>
        <li><%= el %></li>
      <% }) %>
    </ul>
  <% } %>
</body>
</html>